# Import Libraries

In [43]:
import pandas as pd

### Read dataset

In [44]:
df = pd.read_csv("london_merged.csv")

#### Explore the data

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

Observations :
1. Timestamp column should be in datetime format
2. Name can be more informatics for example : cnt, t1, t2, hum.
3. Season is numeric value, need to understand what their significance is
4. Same with weather code as well
5. What is metric is used for measuerment of wind speed and humidity

In [46]:
df.shape

(17414, 10)

In [47]:
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [48]:
df = df.rename(columns= {
    'timestamp' : 'time',
    'cnt' : 'Count',
    't1' : 'temp_real_C',
    't2' : 'temp_feels_like_C',
    'hum' : 'humidity_percent',
    'wind_speed' : 'wind_speed_kph',
    'weather_code' : 'weather'
})

In [49]:
df.head()

,time,Count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [50]:
# Count unique values in weather_code
df['weather'].value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather, dtype: int64

In [51]:
# Count unique values of season
df['season'].value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

Discriptions of categorical values:
1. Weather Code : 
                 1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity
                 2 = scattered clouds / few clouds 
                 3 = Broken clouds 
                 4 = Cloudy 
                 7 = Rain/ light Rain shower/ Light rain 
                 10 = rain with thunderstorm 
                 26 = snowfall 
                 94 = Freezing Fog
                 
2. Is holiday :  1 -> holiday, 0 -> Non holiday
3. Is Weeknd :   1 -> Weeknd, 0 -> Week days
4. Season :
                 0 = Spring
                 1 = Summer
                 2 - Fall
                 3 = Winter

In [52]:
df['humidity_percent'] = df['humidity_percent']/100

In [53]:
df.head()

,time,Count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0

In [54]:
# Converting categorical numerical values into strings
season_dict = {
    '0.0' : 'spring',
    '1.0' : 'summer',
    '2.0' : 'autumn',
    '3.0' : 'winter'
}

weather_dict = {
    '1.0' : 'Clear',
    '2.0' : 'Scattered clouds',
    '3.0' : 'Broken Clouds',
    '4.0' : 'Cloudy',
    '7.0' : 'Rain',
    '10.0' : 'Rain with thunderstorm',
    '26.0' : 'Snowfall',
    '94.0' : 'Fog'
}

df.season = df.season.astype('str')
df .season = df.season.map(season_dict)

df.weather = df.weather.astype('str')
df.weather = df.weather.map(weather_dict)

In [55]:
df.head()

,time,Count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [56]:
df.time = pd.to_datetime(df.time)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               17414 non-null  datetime64[ns]
 1   Count              17414 non-null  int64
 2   temp_real_C        17414 non-null  float64
 3   temp_feels_like_C  17414 non-null  float64
 4   humidity_percent   17414 non-null  float64
 5   wind_speed_kph     17414 non-null  float64
 6   weather            17414 non-null  object
 7   is_holiday         17414 non-null  float64
 8   is_weekend         17414 non-null  float64
 9   season             17414 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 1.3+ MB

In [58]:
df.to_excel('london_bikes_final.xlsx',sheet_name='Data')

## Conclusions

1. Rename the columns to more informatic names
2. Converted humidity into probability where values will lie under 0 and 1
3. Converted numerical categorical values to categories with their name
4. Converted time column to date time format